@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OPTILency";
  src: url("../font/OPTILency.otf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: #F0EEEA;
  background-color: #2F332B;
}

#hero {
  background-image: url("../../public/artio-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#tickets {
  background-image: url("../../public/artio-shows.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ticket-container {
  height: 1020px;
  width: 100%;
  overflow-y: scroll;
}

.ticket-container::-webkit-scrollbar {
  width: 10px;
  background: #2F332B;
  opacity: 0.5;
}

.ticket-container::-webkit-scrollbar-thumb {
  background: #C53434;
}