@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "artio-font";
    src: url("../font/artio.otf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: hidden;
}

.artio-font {
    font-family: "artio-font", sans-serif;
}

.ticket-container {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.ticket-container::-webkit-scrollbar {
    width: 10px;
    background: #2f332b;
    opacity: 0.5;
}

.social-link {
    margin-inline: 10px;
}

.order-image {
    max-width: min(500px, 100% - 40px);
    margin-inline: auto;
}

@media screen and (max-width: 450px) {
    .ticket-container {
        height: 600px;
    }
}
