@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OPTILency";
  src: url("../font/OPTILency.otf") format("ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: #F0EEEA;
  background-color: #2F332B;
}

#hero {
  background-image: url("../../public/artio-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#tickets {
  background-image: url("../../public/artio-shows.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}